---
import "./ServicesSection.scss";
---

<section class="ServicesSection">
  <div id="carousel">
    <figure id="spinner">
      <img src="/techLogos/TypeScript.png" alt="react" />
      <img src="/techLogos/JavaScript.png" alt="react" />
      <img src="/techLogos/NodeJS.png" alt="react" />
      <img src="/techLogos/Docker.png" alt="react" />
      <img src="/techLogos/GIT.png" alt="react" />
      <img src="/techLogos/CPP.png" alt="react" />
      <img src="/techLogos/Angular.png" alt="react" />
      <img src="/techLogos/REACT.png" alt="react" />
    </figure>
  </div>
  <span id="leftButton" style="float:left" class="ss-icon">&lt;</span>
  <span id="rightButton" style="float:right" class="ss-icon"> &gt;</span>

  <div id="description"></div>


  </div>
</section>
<script>
  import "./ServicesSection.js";
</script>
