---
import "./ServicesSection.scss";
---

<section class="ServicesSection">
  <div class="carouselSection">
    <div id="carousel">
      <figure id="spinner">
        <div class="imageDiv" id="TypeScript"><img src="/techLogos/TypeScript.png" alt="TypeScript" /></div>
        <div class="imageDiv" id="NodeJS"><img src="/techLogos/NodeJS.png" alt="NodeJS" /></div>
        <div class="imageDiv" id="astro"><img src="/techLogos/astro.png" alt="astro" /></div>
        <div class="imageDiv" id="Docker"><img src="/techLogos/Docker.png" alt="Docker" /></div>
        <div class="imageDiv" id="GIT"><img src="/techLogos/GIT.png" alt="GIT" /></div>
        <div class="imageDiv" id="CPP"><img src="/techLogos/CPP.png" alt="CPP" /></div>
        <div class="imageDiv" id="Angular"><img src="/techLogos/Angular.png" alt="Angular" /></div>
        <div class="imageDiv" id="REACT"><img src="/techLogos/REACT.png" alt="REACT" /></div>
      </figure>
    </div>
    <span id="leftButton" class="ss-icon">&lt;</span>
    <span id="rightButton" class="ss-icon"> &gt;</span>
  </div>
  <div id="description" class="description"></div>
</section>

<script>
  import "./ServicesSection.js";
</script>
